In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
flights_data = pd.read_csv('flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()

In [3]:
df = flights_data

In [4]:
flights_data.head()

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [5]:
flights_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 17 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  336776 non-null  int64
 1   year        336776 non-null  int64
 2   month       336776 non-null  int64
 3   day         336776 non-null  int64
 4   dep_time    328521 non-null  float64
 5   dep_delay   328521 non-null  float64
 6   arr_time    328063 non-null  float64
 7   arr_delay   327346 non-null  float64
 8   carrier     336776 non-null  object
 9   tailnum     334264 non-null  object
 10  flight      336776 non-null  int64
 11  origin      336776 non-null  object
 12  dest        336776 non-null  object
 13  air_time    327346 non-null  float64
 14  distance    336776 non-null  int64
 15  hour        328521 non-null  float64
 16  minute      328521 non-null  float64
dtypes: float64(7), int64(6), object(4)
memory usage: 43.7+ MB

#Question 1 How many flights were there from JFK to SLC? Int

#Question 4 What proportion of flights to SEA come from the two NYC 
airports (LGA and JFK)?  float

In [17]:
df = flights_data
x = df[(df.dest == "SEA")]
x[(x.origin == "LGA") | (x.origin == "JFK")]

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
93,94,2013,1,1,743.0,13.0,1059.0,3.0,DL,N3760C,495,JFK,SEA,349.0,2422,7.0,43.0
404,405,2013,1,1,1421.0,26.0,1735.0,26.0,B6,N503JB,83,JFK,SEA,349.0,2422,14.0,21.0
656,657,2013,1,1,1824.0,-6.0,2203.0,-2.0,AA,N3ETAA,269,JFK,SEA,348.0,2422,18.0,24.0
660,661,2013,1,1,1826.0,-4.0,2154.0,-13.0,DL,N3772H,1643,JFK,SEA,334.0,2422,18.0,26.0
956,957,2013,1,2,729.0,-1.0,1011.0,-45.0,DL,N3768,495,JFK,SEA,309.0,2422,7.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336030,336031,2013,9,30,902.0,-3.0,1217.0,9.0,DL,N718TW,1616,JFK,SEA,342.0,2422,9.0,2.0
336354,336355,2013,9,30,1500.0,0.0,1824.0,5.0,DL,N1604R,161,JFK,SEA,355.0,2422,15.0,0.0
336585,336586,2013,9,30,1829.0,-1.0,2152.0,10.0,DL,N707TW,1543,JFK,SEA,355.0,2422,18.0,29.0
336587,336588,2013,9,30,1830.0,30.0,2138.0,35.0,B6,N561JB,263,JFK,SEA,350.0,2422,18.0,30.0
336652,336653,2013,9,30,1934.0,4.0,2236.0,-14.0,AA,N3EXAA,235,JFK,SEA,340.0,2422,19.0,34.0