In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
flights_data = pd.read_csv('flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()

In [3]:
flights_data.head()

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [4]:
flights_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 17 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  336776 non-null  int64
 1   year        336776 non-null  int64
 2   month       336776 non-null  int64
 3   day         336776 non-null  int64
 4   dep_time    328521 non-null  float64
 5   dep_delay   328521 non-null  float64
 6   arr_time    328063 non-null  float64
 7   arr_delay   327346 non-null  float64
 8   carrier     336776 non-null  object
 9   tailnum     334264 non-null  object
 10  flight      336776 non-null  int64
 11  origin      336776 non-null  object
 12  dest        336776 non-null  object
 13  air_time    327346 non-null  float64
 14  distance    336776 non-null  int64
 15  hour        328521 non-null  float64
 16  minute      328521 non-null  float64
dtypes: float64(7), int64(6), object(4)
memory usage: 43.7+ MB

### Question 1 : How many flights were there from JFK to SLC? Int

In [5]:
flights_data[(flights_data.origin == "JFK") & (flights_data.dest == "SLC")].year.count()

2113

In [6]:
#2113 flights from JFK to SLC

### Question 2 How many airlines fly to SLC? Should be int

In [7]:
flights_data[(flights_data.dest == "SLC")].carrier.unique()

array(['DL', 'B6'], dtype=object)

In [8]:
# Only DL and B6 fly to SLC, so that's 2.

### Question 3 What is the average arrival delay for flights to RDU? float

In [9]:
flights_data[(flights_data.dest == "RDU")].arr_delay.mean()

10.052380952380952

In [10]:
# The average arrival delay is 10.0523

### Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float

In [11]:
x = flights_data[(flights_data.dest == "SEA")]
y = x[(x.origin == "LGA") | (x.origin == "JFK")]
y.origin.describe()

count     2092
unique       1
top        JFK
freq      2092
Name: origin, dtype: object

In [12]:
# There were 2092 flights from JFK to SEA and none from LGA

### Question 5 Which date has the largest average depature delay? Pd slice with date and float
### please make date a column. Preferred format is 2013/1/1 (y/m/d)

In [13]:
df = flights_data

In [14]:
df['date'] = df['year'].astype('str') + '/' + df['month'].astype('str') + '/' + df['day'].astype('str')

In [15]:
df.date

0          2013/1/1
1          2013/1/1
2          2013/1/1
3          2013/1/1
4          2013/1/1
            ...
336771    2013/9/30
336772    2013/9/30
336773    2013/9/30
336774    2013/9/30
336775    2013/9/30
Name: date, Length: 336776, dtype: object

In [16]:
x = df.groupby(['date']).mean()
x

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,flight,air_time,distance,hour,minute
date,,,,,,,,,,,,,
2013/1/1,421.5,2013.0,1.0,1.0,1384.991647,11.548926,1562.344086,12.651023,1821.496437,169.652226,1077.429929,13.538186,31.173031
2013/1/10,8366.5,2013.0,1.0,10.0,1332.865447,2.844995,1523.306781,-5.898816,1999.322961,146.612487,993.185622,13.009688,31.896663
2013/1/11,9297.5,2013.0,1.0,11.0,1326.082699,2.817193,1508.460784,-4.762268,1991.307527,148.736096,991.995699,12.937976,32.285092
2013/1/12,10107.5,2013.0,1.0,12.0,1299.903509,1.596491,1493.179825,-13.016153,1797.649275,147.555066,1029.208696,12.671053,32.798246
2013/1/13,10866.5,2013.0,1.0,13.0,1395.386700,19.873153,1495.388889,14.931846,1932.527778,154.161090,1022.030193,13.635468,31.839901
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013/9/5,313238.0,2013.0,9.0,5.0,1325.436401,-0.387797,1509.077640,-15.540373,2026.864809,141.927536,1040.770898,12.930714,32.365047
2013/9/6,314206.0,2013.0,9.0,6.0,1323.825907,-0.397927,1506.087047,-17.895010,2049.172699,138.006237,1033.918304,12.918135,32.012435
2013/9/7,315033.5,2013.0,9.0,7.0,1270.809316,-0.250364,1458.391557,-20.349854,1818.270349,142.244898,1089.757267,12.390102,31.799127
2013/9/8,315831.5,2013.0,9.0,8.0,1384.500554,2.083056,1576.563677,-11.545455,2025.325991,140.424612,1044.235683,13.522702,32.230343
2013/9/9,316781.0,2013.0,9.0,9.0,1326.414560,0.794742,1513.308392,-11.701417,2086.266398,137.751012,1031.168517,12.939333,32.481294

In [17]:
x.dep_delay.idxmax()

'2013/3/8'

In [18]:
# The date of the largest average departure delay is 2013/3/8

### Question 6 Which date has the largest average arrival delay? pd slice with date and float

In [19]:
x.arr_delay.idxmax()

'2013/3/8'

In [20]:
# The largest average arrival delay was on 2013/3/8

### Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
### speed = distance/airtime

In [21]:
y = df.groupby(['tailnum']).mean()
y['speed'] = y['distance']/(y['hour']*60 + y['minute'])
y.speed.idxmax()

'N395HA'

In [22]:
# N395HA was the tailnumber that flew the fastest on average

### Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans

In [23]:
weather_data_pd.fillna(0)

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8714,8715,JFK,2013,9.0,2.0,20.0,75.20,73.40,94.14,200.0,4.60312,5.297178,0.0,0.0,4.0
8715,8716,JFK,2013,10.0,23.0,10.0,48.92,39.02,68.51,60.0,4.60312,5.297178,0.0,1008.1,10.0
8716,8717,JFK,2013,10.0,23.0,11.0,48.92,39.02,68.51,40.0,4.60312,5.297178,0.0,1008.5,10.0
8717,8718,JFK,2013,12.0,17.0,5.0,26.96,10.94,50.34,40.0,4.60312,5.297178,0.0,1023.9,10.0
8718,8719,LGA,2013,8.0,22.0,22.0,75.92,66.92,73.68,210.0,8.05546,9.270062,0.0,1011.9,10.0

### Question 9 How many observations were made in Feburary? Int

In [24]:
wd = weather_data_np

In [25]:
wd

array([[1, 'EWR', 2013, ..., 0.0, 1013.9, 10.0],
       [2, 'EWR', 2013, ..., 0.0, 1013.0, 10.0],
       [3, 'EWR', 2013, ..., 0.0, 1012.6, 10.0],
       ...,
       [8717, 'JFK', 2013, ..., 0.0, 1008.5, 10.0],
       [8718, 'JFK', 2013, ..., 0.0, 1023.9, 10.0],
       [8719, 'LGA', 2013, ..., 0.0, 1011.9, 10.0]], dtype=object)

In [26]:
np.sum(wd[:,3] == 2)

671

In [27]:
# There were 671 observations in February

### Question 10 What was the mean for humidity in February? Float

In [48]:
z = wd[:,8][wd[:,3] == 2].astype(float)

In [49]:
np.nanmean(z)

62.91815201192251

In [50]:
# the mean humitity for February was 62.918

### Question 11 What was the std for humidity in February? Float

In [51]:
np.std(z)

20.33690087674334

In [ ]:
#The std in feb was 20.3369